python==3.7
Flask>=1.1.1 
Flask-Cors==3.0.8 
Flask-RESTful==0.3.7 
gunicorn==20.0.4 
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
joblib==0.13.2 
Werkzeug>=0.15.5
jsonschema==2.6.0 
scipy>=0.15.1 
numpy>=1.9.2
pickleshare==0.7.5
requests==2.23.0 
requests-file==1.4.3 
scikit-learn>=0.18 
wcwidth==0.1.7 
webencodings==0.5.1
pandas>=0.19




